<div class="jumbotron mt-3">
  <h1 class="display-5">Itineraries</h1>
  <p class="lead">
    Here you can create a new itinerary or see the ones already created.
    They are in the following table. To create a new one, just press the "Add" button.
  </p>
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Stops</th>
      <th scope="col">Budget Level</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="page && page.content.length > 0; else noRows">
      <tr *ngFor="let i of page.content">
        <td>{{ i.title }}</td>
        <td>{{ i.stops.length }}</td>
        <td>{{ i.budgetLevel }}</td>
        <td class="text-right">
          <button class="btn btn-link" (click)="delete(i)">
            <i class="fas fa-trash-alt text-danger"></i>
          </button>
          <button class="btn btn-link" [routerLink]="'/'">
            <i class="fas fa-arrow-circle-right text-primary"></i>
          </button>
        </td>
      </tr>
    </ng-container>
    <ng-template #noRows>
      <tr>
        <td colspan="3"><small>There aren't itineraries saved. Please add one of them.</small></td>
      </tr>
    </ng-template>
  </tbody>
</table>
<div class="text-right">
  <button class="btn btn-primary btn-sm" [routerLink]="['new']">Add itinerary</button>
</div>

