<div class="row">
  <div class="col-12 col-md-4 mt-3 ml-auto">
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-title">Itineraries</h5>
        <p class="card-text">Here you can create your own itineraries and consult the already created ones.</p>
        <a [routerLink]="'itineraries'" class="btn btn-link btn-block">Go now</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 mt-3 mr-auto">
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-title">Trips</h5>
        <p class="card-text">Here you can create your trips and see the ones already created by our staff or other users.</p>
        <a [routerLink]="'trips'" class="btn btn-link btn-block">Go now</a>
      </div>
    </div>
  </div>
</div>
